body {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: aquamarine;
    color: rebeccapurple;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ul {
    list-style-type: none;
}
